.card {
    justify-content: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.img {
    width: 256px;
    height: 256px;
    justify-self: center;
}

.rank {
    margin-left: 78%;
}

.rank.S {
    color: #ffff3d !important;
}

.rank.A {
    color: #ff6a3d !important;
}

.rank.B {
    color: #78d3ff !important;
}

.rank.C {
    color: #ffdef9 !important;
}

.rank.D {
    color: #d5d5d5 !important;
}

.used {
    background-color: rgba(255, 0, 0, 5%);
    opacity: 100%;
}

.card.zoan {
    border: 1px solid white;
    border-radius: 25px 0 25px 0;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px #80ff80;
    white-space: pre-wrap
}

.card.oldZoan {
    border: 1px solid white;
    border-radius: 25px 0 25px 0;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px #339b33;
    white-space: pre-wrap
}

.card.mythZoan {
    border: 1px solid white;
    border-radius: 25px 0 25px 0;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px #9ffff5;
    white-space: pre-wrap
}

.card.logia {
    border: 1px solid white;
    border-radius: 25px 0 25px 0;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px #c9b4ff;
    white-space: pre-wrap
}

.card.paramecia {
    border: 1px solid white;
    border-radius: 25px 0 25px 0;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 5px #fcfca2;
    white-space: pre-wrap
}

.hide {
    display: none;
}