html {
  background-color: #282c34;
  font-size: 18px;
  color: white;
}

.hide {
  display: none;
}

.nameSearching {
  justify-self: center;
  display: flex;
  margin-left: 33%;
  margin-top: 1%;
  font-family: inherit;
  width: 33%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

details {
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 25%;
  width: 50%;
  background: #282828;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

summary {
  display: block;
  background: #333;
  padding: 1rem 1rem 1rem 2.2rem;
  position: relative;
  cursor: pointer;
}

summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}


details summary::-webkit-details-marker {
  display:none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

@media(max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
  img {
    width: 64px !important;
    height: 64px !important;
  }

  details {
    width: 100% !important;
    margin: 0 !important;
  }
}

summary.zoan {
  color: #80ff80;
}

summary.oldZoan {
  color: #339b33;
}

summary.paramecia {
  color: #fcfca2;
}

summary.logia {
  color: #c9b4ff;
}

summary.mythZoan {
  color: #9ffff5;
}

.fruit {

}
